/*

!.gitignore

!Makefile
!LICENSE
!README.md

!hoot.tcl
!main.c

!t/test.tcl
!t/output.md
!t/input.hoot.md
!t/templates.hoot.md
!t/subdir/other-templates.hoot.md

!extra/hoot.vim/ftdetect/hoot.vim
!extra/hoot.vim/syntax/hoot.vim

!jimtcl/

